profile{
  width: 100pt;
}
nav{
  background-color:#f6d55c;
}
a:hover{
  color:#20639B;
}
body{
  background-color: #173f5f;
  color:white;
}
th{
  color:white;
}
td{
  color:white;
}
tr:hover{
  background-color: #20639B;
}
.sign-up-table:hover{
  background-color: #173f5f;
}
#navhome{
  color:#20639B;
}
#navhome:hover{
  color:#3caea3;
}
#navdata{
  color:#3caea3;
}
#navdata:hover{
  color:#20639B
}
#navbooks{
  color:#ed553b;
}
#navbooks:hover{
  color:#20639B
}
h2{
  color:#3caea3;
}
h4{
  color: #ed553b;
}
.homeimg{
  width: 400pt;
}
p{
  font-size: 8pt;
}
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}